.vscode/*
material/*
2-cpp/.vscode/*
4-bash/2.sh
4-bash/lab1.sh
4-bash/readme.md
5-oop/readme.md
5-oop/test.cpp
iti-ass
2-cpp/3-sessions/*
6-EmbeddedLinux/tasks/1-extlinux-conf/sd.img
books/LinuxEmbeddedBook.pdf
3-AdminLinux/*
TODO
6-EmbeddedLinux/4-lab/pi3.md
sdInitRanFs.img
6-EmbeddedLinux/3-extlinux-conf/sd.img
