.vscode/*
material/*
2-cpp/.vscode/*
2-cpp/3-sessions/7-7/1.md
2-cpp/3-sessions/9-7/readme.md
3-AdminLinux/sessions/8-7.md
3-AdminLinux/sessions/10-7.md
4-bash/2.sh
4-bash/lab1.sh
4-bash/readme.md
5-oop/readme.md
5-oop/test.cpp
iti-ass
