.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
1-make/session/1/1.md
1-make/session/1/proj/add.c
1-make/session/1/proj/add.h
1-make/session/1/proj/main.c
1-make/session/2/2.md
1-make/session/2/proj/add.c
1-make/session/2/proj/add.h
1-make/session/2/proj/main.c
1-make/session/2/proj/Makefile
1-make/session/4/4.md
1-make/session/5-lab/Makefile
1-make/session/6-labb/6.md
1-make/session/proj/add.c
1-make/session/proj/add.h
1-make/session/proj/main.c
1-make/session/proj/Makefile
make/1-intro.md
1-make/notes/notes.md
1-make/notes/1/build.log
1-make/notes/1/main
1-make/notes/1/main.c
1-make/notes/1/Makefile
1-make/notes/2-function/main.c
1-make/notes/2-function/Makefile
1-make/notes/3-loop/Makefile
1-make/notes/4-conditionalStatements/Makefile
1-make/notes/4-conditionalStatements/test.c
2-c/1-lab/a.out
